/* Resetting default margin and padding */
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
 /*min-width: 420px; was an attempt to fix issue involving mobile webpage loading zoomed-in then whitespace appearing on right when zooming out*/
	/*but setting this value actually created even more whitespace*/
}

@font-face {
  font-family: 'titleFont';
  src: url('./Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'bodyFont';
  src: url('./Merriweather-Regular.ttf');
}

.titleFont {
  font-family: titleFont;
}

.bodyFont {
  font-family: bodyFont;
}

.bg {
  /*ChatGPT generated*/
  background-image: var(--bkgd); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /*copied from a MIS 310 project. ChatGPT generated background-attachment: fixed but that does not work on mobile*/
  /*you need to put the background in a div and set the position to fixed*/
  position: fixed;
  height: 100%; /*changed from 100vh and 100vw to get my wallpaper to work fully on mobile*/
  width: 100%;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  background-color: rgb(146, 53, 222);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10; /*prevents bar from disappearing when scrolling*/
}

nav .container {
	display: grid;
	grid-template-columns: 1fr 1fr; /*changed from 1fr 1fr to resolve mobile issue involving whitespace to the right of the background, but did not work*/
	width: 100%;
  position: relative;
  align-items: center; /*centers "Jacob Sawyer Portfolio" vertically*/
}

.nav-buttons {
  display: flex;
  /*FlexBox is required to get buttons to stick to the end of the nav bar*/
  justify-content: end;
}

.logo {
  color: #000;
  font-size: var(--logo-font);
}

.nav-buttons a {
  color: #000;
  text-decoration: none;
  margin-left: var(--btn-margin);
  padding: 5px;
}

.nav-buttons a:hover {
  text-decoration: underline;
}

.nav-buttons button {
  padding: var(--nav-padding); /*provides a margin within the buttons themselves*/
  font-size: var(--nav-font);
  border: solid black 2px;
  border-radius: 20px;
  color:  #fff;
  background-color: #000;
}

.nav-buttons button:hover {
  color: #000;
  background-color: #fff;
}

main {
  width: 100%;
  max-width: 800px; /*changed from 800 to 900 to troubleshoot mobile issue involving the wallpaper and white space*/
 /*however the main width wasn't the problem, it seems to be the background image itself*/
  margin: 0 auto;
}

section {
  position: relative; /*enables setting positions of children*/
  height: 100vh;
  padding: 20px;
}

section * {
  position: absolute;
  color: #fff;
}

section h1, section h3, section img {
  left: 50%;
  transform: translate(-50%, -50%); /* ChatGPT Centering trick */
  text-align: center;
}

.work, .contact, .subportfolio {
   left: 50%;
   transform: translateX(-50%);
   text-align: center;
}

section h1 {
  top: 34%;
  font-size: var(--h1-font);
}

section h3 {
  top: 68%;
  font-size: var(--h3-font);
}

section img {
  top: var(--img-top);
  width: auto;
  height: var(--img-height);
}

section p {
  top: var(--p-top);
  line-height: 1.7rem;
  font-size: var(--p-font);
}

.ai-link {
  background: #fff;
  color: #000;
}

.ai-link:hover {
  color: #fff;
  background: #000;
}

.work, .contact {
  display: flex;
  flex-wrap: wrap;
  top: var(--btn-top);
  width: 100%;
  justify-content: center;
  align-items: center;
}

.work a {
  text-decoration: none;
  width: 38%;
  height: var(--btn-height);
  margin: 1rem;
  border-radius: 50px;
}

.work div p, .contact div p, .subportfolio div p {
  text-align: center;
  line-height: var(--btn-lineheight);
  vertical-align: middle;
  top: 50%;
}

.work *, .contact *, .subportfolio * {
  position: static !important;
}

.coursename {
  font-size: var(--coursename-font);
}

.coursedesc {
  font-size: var(--coursedesc-font);
}

.mis310, .email {
  background:  radial-gradient(circle, rgba(255, 255, 255, 0.6), rgba(200, 0, 0, 0.9));
}

.mis411, .phone {
  background:  radial-gradient(circle, rgba(255, 255, 255, 0.6), rgba(200, 200, 0, 0.9));
}

.cit425, .linkedin {
  background:  radial-gradient(circle, rgba(255, 255, 255, 0.6), rgba(0, 200, 0, 0.9));
}

.mis316, .resume {
  background: radial-gradient(circle, rgba(255, 255, 255, 0.6), rgba(0, 0, 200, 0.9));
}

.mis310:hover, .email:hover {
  background: rgb(200,0,0);
  color: #000;
}

.mis411:hover, .phone:hover {
  background: rgb(200,200,0);
}

.cit425:hover, .linkedin:hover {
  background: rgb(0,200,0);
}

.mis316:hover, .resume:hover{
  background: rgb(0,0,200);
}

.contact a {
  width: 70%;
  margin: 1rem;
  text-decoration: none;
}

.contact div {
  border-radius: 19px;
}

.subportfolio {
  display: flex;
  flex-wrap: wrap;
  top: 26;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.subportfolio a {
	margin: 1rem;
	height: var(--btn-height);
	text-decoration: none;
}

.subportfolio div {
	border-radius: 50px;
}

/*conditional width styles*/
@media (min-width: 601px) {
  :root{
  --bkgd: url('bkgd1.jpg');
  --logo-font: 26px;
  --nav-font: 20px;
  --nav-padding: 5px;
  --h1-font: 61px;
  --h3-font: 35px;
  --img-height: 300px;
  --img-top: 36%;
  --btn-margin: 20px;
  --btn-top: 66%;
  --p-font: 16px;
  --p-top: 60%;
  --coursename-font: 18px;
  --coursedesc-font: 11px;
  --btn-height: 60px;
  --btn-lineheight: 30px;
  }
  
  .subportfolio a {
	  width: 50%;
  }
  
  .subportfolio p {
	font-size: 25px;
	padding: 1rem;
  }
  
}
@media (max-width: 600px) {
   :root{
  --bkgd: url('bkgd2.jpg');
  --logo-font: 13px;
  --nav-font: 10px;
  --nav-padding: 4px;
  --h1-font: 45px;
  --h3-font: 23px;
  --img-height: 220px;
  --img-top: 28%;
  --btn-margin: 0px;
  --btn-top: 55%;
  --p-font: 11px;
  --p-top: 47%;
  --coursename-font: 15px;
  --coursedesc-font: 9px;
  --btn-height: 48px;
  --btn-lineheight: 24px;
  }
  
  .subportfolio a {
	  width: 80%;
  }
  
  .subportfolio p {
	font-size: 12px;
	padding: .5rem;
  }
}
